<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MyLegacyDb" connectionString="Server=HKHDCDEVSQL01;Database=ECodeWorld;Trusted_Connection=True;" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationName" value="CoreConfigurationDemo"/>
  </appSettings>
</configuration>